*{
    box-sizing: border-box;
    font-family: 'DM Mono', monospace;
}

:root {
    --bg-color: #101439;
    --primary-color: #2E3867;
    --shadow: #00000040;
    --secondary-color: #19B9B9;
    --accent-color: #19B9B9;
    --color-hover: #0b8a8a;
    --text-color: #fff;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.password-generator {
    padding: 2.25rem;
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
}

.password {
    height: 60px;
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    color: inherit;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    box-shadow: 0 4px 4px var(--shadow);
    text-align: center;
    font-size: 1.2rem;
}

.label {
    display: block;
    letter-spacing: 4px;
    margin-bottom: 1rem;
}

.range-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    padding: 1.25rem;
    background-color: var(--primary-color);
    box-shadow: 0 4px 4px var(--shadow);
    border-radius: 0.5rem;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.range{
    height: 3px;
    width: 80%;
    accent-color: var(--accent-color);
}

.button {
    height: 60px;
    width: 100%;
    border: none;
    color: inherit;
    background-color: var(--accent-color);
    box-shadow: 0 4px 4px var(--primary-shadow);
    border-radius: 0.5rem;
    font-size: 1.1rem;
    letter-spacing: 4px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}
  
.button:hover {
    transform: scale(0.95);
    background-color: var(--color-hover);
}

  